@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/* reser*/ 
*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width:100%;
    height:auto;
}

input,button,textarea{
    font:inherit;
}

/* variables*/
:root{
    /*fonts*/
    --FF:"nunito",sans-serif;
    --FF-HEADINGS:"fugaz one", cursive;
    --FS:clamp(1rem, 2.2vh, 1.5rem);

    /* colors*/
    --BGCOLOR: orange;
    --BGCOLOR-FADE:rgb(252,220,160);
    --BGIMAGE:linear-gradient(to bottom,var(var(--BGCOLOR), var(var(--BGCOLOR-FADE))));
    --BODY-BGCOLOR
}